// Main Colors for the comparison tool
$purple: #5c6cff;

// Button Colors
$btn-yellow: linear-gradient(350deg, #f87000 40%, #f8ae00 85%);
$btn-blue: linear-gradient(350deg, #6169f4 40%, #1cbeec 85%);

// Font Colors
$gray-text-1: #959595;
$white-text-1: #fff;
