.rate {
  display: flex;
  align-items: center;

  &__sign {
    color: black;
    font-size: 2rem;
  }

  &__rate {
    font-size: 3rem;
    padding-right: 0.5rem;
    color: black;
  }

  &__month {
    font-size: 1.5rem;
  }
}
