body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
  width: auto; }
  .button__0, .button__1 {
    background: linear-gradient(350deg, #f87000 40%, #f8ae00 85%); }
  .button__3 {
    background: linear-gradient(350deg, #6169f4 40%, #1cbeec 85%); }
  .button__text {
    font-size: 3rem;
    color: #fff; }

.expandable-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 auto;
  width: 60%;
  padding: 3rem; }

.features-description {
  flex: 0 0 50%;
  margin: 0 3rem; }
  .features-description__title {
    border-bottom: 0.5px solid grey;
    padding-bottom: 0.8rem;
    font-size: 1.6rem; }
  .features-description__list {
    font-size: 1.4rem; }

.insurance-description {
  flex: 0 0 50%;
  padding: 0 3rem; }
  .insurance-description__title {
    border-bottom: 0.5px solid grey;
    font-style: normal;
    padding-bottom: 0.8rem;
    font-size: 1.6rem; }
  .insurance-description__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .insurance-description__text {
    font-size: 1.4rem; }
  .insurance-description__disclaimer {
    font-size: 1.2rem;
    font-style: italic; }
