body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.quote-container {
  width: 50%; }
  .quote-container__quote {
    border: 1px solid #959595;
    margin: 1.5rem 0;
    border-radius: 4px; }

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 2rem 2rem; }

.carrier-image {
  width: 7.5rem; }

.name-container-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3rem; }
  .name-container-display__title {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem; }
  .name-container-display__ratings {
    margin-bottom: 1rem; }
  .name-container-display__star {
    width: 1.6rem; }

.button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
  width: auto; }
  .button__0, .button__1 {
    background: linear-gradient(350deg, #f87000 40%, #f8ae00 85%); }
  .button__3 {
    background: linear-gradient(350deg, #6169f4 40%, #1cbeec 85%); }
  .button__text {
    font-size: 3rem;
    color: #fff; }

.expandable-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 auto;
  padding: 3rem; }

.features-description {
  flex: 0 0 auto;
  padding: 0 2rem;
  width: 50%;
  font-style: 100rem; }
  .features-description__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.5px solid grey;
    padding-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400; }
  .features-description__list {
    font-size: 1.4rem; }

ion-icon {
  padding-right: 0.75rem;
  font-size: 20px; }

.insurance-description {
  flex: 0 0 auto;
  padding: 0 2rem;
  width: 50%; }
  .insurance-description__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.5px solid grey;
    font-style: normal;
    padding-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 500; }
  .insurance-description__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .insurance-description__text {
    font-size: 1.4rem;
    padding: 0.5rem 0; }
  .insurance-description__disclaimer {
    font-size: 1.2rem;
    font-style: italic; }

.price-comparison-title__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-top: 1rem; }

.price-comparison-title__text {
  font-size: 1.7rem; }
  .price-comparison-title__text--bold {
    font-weight: 700; }

.price-comparison-title__filter {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .price-comparison-title__filter--text {
    font-size: 1.7rem;
    padding: 1rem; }
  .price-comparison-title__filter--dropdown {
    padding: 0.5rem 2rem;
    font-size: 1.7rem;
    border-radius: 3px; }

.price-comparison {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #959595; }
